.toy-filter {
  width: 100%;
  max-width: 350px;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
}

.toy-filter:hover {
  box-shadow: 0 14px 35px rgba(0, 0, 0, 0.12);
}

.toy-filter h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #1a1a1a;
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.toy-filter form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.toy-filter label {
  font-weight: 500;
  margin: 0;
  color: #444;
}

.toy-filter input {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: all 0.3s ease;
  background-color: #fafafa;
}

.toy-filter input:focus {
  outline: none;
  border-color: #999;
  background-color: #fff;
  box-shadow: 0 0 0 2px #ccc;
}

.toy-filter select {
  padding: 0.9rem 1.2rem;
  border-radius: 0.75rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #fafafa;
  transition: all 0.3s ease;
  /* appearance: none; */
}

.toy-filter select:focus {
  outline: none;
  border-color: #999;
  background-color: #fff;
  box-shadow: 0 0 0 2px #ccc;
}

.label-dropdown {
  position: relative;
  margin-top: 1rem;
}

.dropdown-toggle {
  background-color: #f8f8f8;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.dropdown-toggle:hover {
  background-color: #f0f0f0;
}

.dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  z-index: 100;
}

.dropdown-content label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
}

.dropdown-content input[type='checkbox'] {
  accent-color: #c8a165;
}
