.toy-filter {
  width: 100%;
  max-width: 350px;
  background-color: var(--color-bg-light);
  padding: 1rem;
  margin-bottom: 2.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
}

.toy-filter:hover {
  box-shadow: 0 14px 35px rgba(0, 0, 0, 0.12);
}

.toy-filter h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-accent);
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.toy-filter form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.toy-filter label {
  font-weight: 500;
  margin: 0;
  color: var(--color-text);
}

.toy-filter input {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: 1px solid var(--color-secondary);
  font-size: 1rem;
  transition: all 0.3s ease;
  background-color: var(--color-bg-light);
}

.toy-filter input:focus {
  outline: none;
  border-color: var(--color-secondary);
  background-color: #fff;
  box-shadow: 0 0 0 2px var(--color-secondary);
}

.toy-filter select {
  padding: 0.9rem 1.2rem;
  border-radius: 0.75rem;
  border: 1px solid var(--color-secondary);
  font-size: 1rem;
  background-color: var(--color-bg-light);
  transition: all 0.3s ease;
}

.toy-filter select:focus {
  outline: none;
  border-color: var(--color-secondary);
  background-color: #fff;
  box-shadow: 0 0 0 2px var(--color-secondary);
}

.label-dropdown {
  position: relative;
  margin-top: 1rem;
}

.dropdown-toggle {
  background-color: var(--color-bg);
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--color-secondary);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.dropdown-toggle:hover {
  background-color: var(--color-bg-light);
}

.dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  background-color: var(--color-bg-light);
  border: 1px solid var(--color-secondary);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  z-index: 100;
}

.dropdown-content label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.95rem;
  color: var(--color-text);
}

.dropdown-content input[type='checkbox'] {
  accent-color: var(--color-accent);
}
