.toy-preview {
  padding: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.toy-name {
  font-size: 1.8rem;
  color: var(--color-accent);
  font-weight: 600;
}

.toy-price {
  font-size: 1.2rem;
  color: var(--color-secondary);
}

.toy-labels {
  font-size: 1rem;
  color: var(--color-text);
}

.labels-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.label {
  background-color: var(--color-bg);
  padding: 0.3rem 0.8rem;
  border-radius: 999px;
  font-size: 0.85rem;
  color: var(--color-text);
  font-weight: 500;
}

.action-links {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.in-stock {
  color: var(--color-secondary);
  font-weight: bold;
}

.no-stock {
  color: var(--color-accent);
  font-weight: bold;
}
