.toy-index {
  padding: 4rem 2rem;
  background: linear-gradient(to bottom, #fefefe, #eaeaea);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-size: 3rem;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.toggle-filter-btn {
  background-color: #1a1a1a;
  color: white;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
  transition: background 0.3s ease;
}

.toggle-filter-btn:hover {
  background-color: #333;
}
.add-btn {
  margin-bottom: 1.5rem;
}
